* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: lightcyan; */
}

/* heading */
#photoGall {
  font-family: 'Lobster', cursive;
  text-align: center;
  color: #F6B343;
  /* background-color: lightblue; */
  background-image: linear-gradient(white, skyblue);
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px #FCE7BB;
  /* border-bottom: 3px solid skyblue; */
}


#name{
  font-family: 'Lobster', cursive;
  text-align: center;
  color: skyblue;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px #F6B343;
  align-self: flex-end;
  margin-bottom: 30px;
}

/* constant characteristics of the pictures */

.pictures{
  display: flex;
  justify-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2%;

}


/* spacing the photos */
img{
    padding: 1%;
    width: 25%;
    height: 500px;
    object-fit: cover;
    border: 1px hidden #FCE7BB;
}

img:hover{
  border: 5px solid skyblue;
  transition: .5s;
}

body{
    /* background-image:linear-gradient(white, #F6B343); */
    background-color: #FCE7BB;
}

/* tablet size */
@media screen and (max-width: 1000px){
  img{
    width: 50%;
  }
}

/* phone size */
@media screen and (max-width: 600px){
  img{
    width: 75%;
  }
}
